/* stili generali di pagina */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
}

body{
    font-family: "Roboto";
}

/* stili colori */
.ms-bg-white{
    background-color: white;
}

.ms-bg-grey{
    background-color: #e5e5e5;
}

.ms-bg-blue{
    background-color: #1b72e8;
}

.ms-button-color{
    background-color: #155ab9;
}

.ms-grey{
    color: #6c757d;
    border:1px solid #6c757d;
}



/* stili macro */

header{
    height: 80px;
    /* debug rules */
    border:1px solid black;
}

.ms-wrapper{
    height: calc(100vh - 80px);
    /* debug rules */
   
    
}

.ms-sidebar{
    width:140px ;
    position: relative;
    height: 100%;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    /* debug rules */
    /* border: 1px solid black; */
   
}

.ms-main-content{
    flex-grow: 1;
    overflow: auto;
    /* debug rules */
}




/* dekstop first * *******************************/

/* stili header ******************************* */
/* stili navbar */
.fa-solid.fa-bell{
    color: #ff8f00;
}


.btn.btn-secondary.dropdown-toggle{
    background-color: white;
    border: none;
}


/* stili main *******************************/

/* stili sidebar */
.ms-ol{
    list-style-type:none;
    padding-left: 0;
}

.ms-bottom-content{
    position: absolute;
    bottom:0;
    right: 50%;
    transform: translate(50%,-50%);
    bottom: 0;
}

.ms-larger-font{
    font-size:16px
}

/* stili main content */



.ms-box-img{
    height: 25px;
    width: 25px;
}
.ms-img{
    height: 100%;
    width: 100%;
}

.ms-margin-right{
    margin-right: 15px;
}

.ms-border-grey{
    border: 1px solid grey;
}

.ms-border-grey-bottom{
    border-bottom: 1px solid grey;
}

.ms-topbar-main .btn{
    font-size: 12px;
}



/* tablet md version ********************************/

@media all and (max-width:991px) {
    .ms-sidebar{
        width:60px ;
    }

    .ms-sidebar span{
        display: none;
    } 
    
  }








/* mobile sm version ********************************/

@media all and (max-width:576px) {
    
  }